﻿<div class="panel panel-primary">
    <div class="panel-heading">
        New Advert
    </div>
    <div class="panel-body">
        <div class="well">
            <form class="form-horizontal col-xs-6" role="form" name="advertCreateForm">
                <div class="form-group">
                    <label class="col-xs-3 control-label">Title:</label>
                    <div ng-class="{ 'has-error' : advertCreateForm.Title.$invalid && !advertCreateForm.Title.$pristine }" class="col-xs-9">
                        <input type="text" class="form-control" ng-model="advert.Title" name="Title" required /><br />
                        <p ng-show="advertCreateForm.Title.$error.required && !advertCreateForm.Title.$pristine" class="help-block help-box-margin">Title is Required.</p>
                    </div>
                    <label class="col-xs-3 control-label">Content:</label>
                    <div ng-class="{ 'has-error' : advertCreateForm.Content.$invalid && !advertCreateForm.Content.$pristine }" class="col-xs-9">
                        <textarea name="Content" rows="7" min-rows="3" style="min-width: 100%;max-width: 100%;" class="form-control" ng-model="advert.Content" required></textarea><br />
                        <p ng-show="advertCreateForm.Content.$error.required && !advertCreateForm.Content.$pristine" class="help-block help-box-margin">Content is Required.</p>
                    </div>
                    <label class="col-xs-3 control-label">Price:</label>
                    <div ng-class="{ 'has-error' : advertCreateForm.Price.$invalid && !advertCreateForm.Price.$pristine }" class="col-xs-9">
                        <div class="input-group">
                            <input min="0" name="Price" type="number" class="form-control" ng-model="advert.Price" required /><br />
                            <span class="glyphicon glyphicon-euro input-group-addon"></span><br />
                        </div>
                        <p ng-show="advertCreateForm.Price.$invalid && !advertCreateForm.Price.$pristine" class="help-block">Please enter a valid value.</p>
                    </div>
                    <div style="clear: both;"></div><br />
                    <div ng-hide="locationEnabled">
                        <label class="col-xs-3 control-label">Enable Location:</label>
                        <div class="col-xs-9">
                            <button class="pull-right btn btn-primary" ng-click="enableLocation()"><span class="glyphicon glyphicon-map-marker"></span> </button>
                        </div>
                    </div>
                    <div ng-if="locationEnabled">
                        <label class="col-xs-3 control-label">Address:</label>
                        <div class="col-xs-9">
                            <div class="form-control" readonly>{{addr}}</div>
                        </div>
                        <div style="clear: both;"></div><br />
                        <label class="col-xs-3 control-label">Location:</label>
                        <div class="col-xs-9">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                                </ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                    </div>
                    <div ng-show="locationEnabled">
                        <div style="clear: both;"></div><br />
                        <label class="col-xs-3 control-label">Disable Location:</label>
                        <div class="col-xs-9">
                            <button class="pull-right btn btn-danger" ng-click="disableLocation()"><span class="glyphicon glyphicon-remove"></span> </button>
                        </div>
                    </div>
                </div>
            </form>
            <div style="clear: both;"></div>
            <div class="col-xs-6">
                <button ng-disabled="!advertCreateForm.$valid" class="pull-right btn btn-success" ng-click="post()"><span class="glyphicon glyphicon-save"></span> Post</button>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>