﻿<div class="panel panel-primary" ng-repeat="Advert in Adverts">
    <div class="panel-heading">
        {{Advert.title}}
        <div class="pull-right">
            {{Advert.date | date:'medium'}}
        </div>
    </div>
    <div class="panel-body">
        <div style="text-align: justify; padding: 0 20px;"> {{Advert.annonceText}}</div>
        <div ng-show="Advert.latitude != 0 && Advert.longitude != 0 && !Advert.showMap" class="pull-right">
            <button ng-click="displayMap(Advert)" class="pull-right btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span> View Location</button>
        </div>
        <div class="clearfix"></div>
        <div ng-if="Advert.showMap">
            <br />
            <ui-gmap-google-map center='Advert.center' zoom='Advert.center.zoom'>
                <ui-gmap-marker coords="Advert.marker.coords" idkey="Advert._id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
            <br />
        </div>
        <button ng-click="hideMap(Advert)" ng-show="Advert.showMap" class="pull-right btn btn-danger"><span class="glyphicon glyphicon-map-marker"></span> Hide Location</button>
    </div>
    <div class="panel-footer">
        {{Advert.price | currency: "&euro;"}}
        <button ng-show="Advert.auteur != authenticatedUser.username" ng-click="createMessage(Advert.auteur)" data-toggle="modal" data-target="#messageCreationModal" class="pull-right btn btn-success"><span class="glyphicon glyphicon-envelope"></span> Contact Author</button>
        <button ng-show="Advert.auteur == authenticatedUser.username" class="pull-right btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <div class="clearfix"></div>
    </div>

</div>

<!-- MESSAGE MODAL START -->
    <div class="modal fade" id="messageCreationModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-adv">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Send Message</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="messageCreationForm" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10" ng-class="{ 'has-error' : messageCreationForm.Title.$invalid && !messageCreationForm.Title.$pristine }">
                                <input class="form-control" type="text" ng-model="message.Title" placeholder="Title" name="Title" required /><br />
                                <p ng-show="messageCreationForm.Title.$invalid && !messageCreationForm.Title.$pristine " class="help-block help-box-margin">Title required.</p>
                            </div>
                            <label class="col-sm-2 control-label">Content</label>
                            <div class="col-sm-10" ng-class="{ 'has-error' : messageCreationForm.Content.$invalid && !messageCreationForm.Content.$pristine }">
                                <textarea class="form-control" type="text" rows="7" name="Content" ng-model="message.Content" required></textarea><br />
                                <p ng-show="messageCreationForm.Content.$invalid && !messageCreationForm.Content.$pristine " class="help-block help-box-margin">Content required.</p>
                            </div>
                        </div>
                    </form>
                    <div style="clear: both"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
                    <button type="button" ng-click="send()" ng-disabled="!messageCreationForm.$valid" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
<!-- MESSAGE MODAL END -->