﻿<div style="margin-bottom: 10px;">
    <button ng-click="showThemAll()" ng-show="selected" class="btn btn-default">Back</button>
</div>
<div ng-show="!message.hide" ng-repeat="message in messages" class="panel">
    <a ng-click="displayMessage(message)" href="" style="text-decoration: none; outline: none;"><div class="panel-heading">{{message.Title}} <span ng-show="!message.Read && message.FromUser != authenticatedUser.username || message.unreadReplies" class="badge alert-info">New</span><span class="pull-right" ng-show="message.FromUser != authenticatedUser.username">From: {{message.FromUser}}</span> </div></a>
    <div ng-show="message.show" class="panel-body">
        <pre ng-class="{'alert-info' : authenticatedUser.username == message.FromUser,'alert-success' : authenticatedUser.username != reply.FromUser }">{{message.Content}}</pre>
        <div ng-repeat="reply in replies">
            <form class="form-horizontal">
                <div class="form-group">
                    <label ng-show="reply.FromUser != authenticatedUser.username" class="col-xs-1 control-label">{{reply.FromUser}}: </label>
                    <label ng-show="reply.FromUser == authenticatedUser.username" class="col-xs-1 control-label">Me: </label>
                    <div class="col-xs-11">
                        <pre ng-class="{'alert-info' : authenticatedUser.username == reply.FromUser,'alert-success' : authenticatedUser.username != reply.FromUser }" class="form-control">{{reply.Content}}</pre>
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-1 control-label">Reply :</label>
                    <div class="col-xs-11">
                        <textarea rows="6" type="text" ng-model="replyToSend.Content" class="form-control"></textarea>
                    </div>
                </div>
                <button ng-click="reply(message)" class="btn btn-primary pull-right">Send <span class="glyphicon glyphicon-envelope"></span></button>
            </form>
        </div>
    </div>
</div>