<!DOCTYPE html>
<html ng-app="CoinsMarket" ng-controller="homeController">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/mydesign.css" />
    <link rel="shortcut icon" href="/Content/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/toaster.css" />
</head>
<body>
    <toaster-container></toaster-container>
    <div class="bs-example">
        <nav ng-show="authenticated" role="navigation" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-show="authenticated" href="#!/members" class="navbar-brand">Home</a>
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right" ng-show="authenticated">
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown-menu">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <span ng-show="unreadMessages.length > 0" class="label label-success">{{unreadMessages.length}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="white-space: nowrap" class="header">You have {{unreadMessages.length }} new messages</li>
                            <li ng-repeat="message in unreadMessages">
                                <ul class="menu">
                                    <li>
                                        <a href="#!/messages/">
                                            <h4 style="margin-top: 0 !important;">
                                                <b>{{message.Title}}</b>
                                            </h4>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#!/messages/">See All Messages</a></li>
                        </ul>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown-menu">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>{{ authenticatedUser.username }} <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu" style="padding: 0;">
                            <li class="user-footer">
                                <div>
                                    <a href="#!/postAd"><i class="glyphicon glyphicon-plus"></i> Post Advert</a>
                                </div>
                            </li>
                            <li class="user-footer">
                                <div>
                                    <a href="#!/profile/{{ authenticatedUser.username }}"><i class="glyphicon glyphicon-user"></i> Profile</a>
                                </div>
                            </li>
                            <li class="user-footer">
                                <div>
                                    <a a href="#!/" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <section class="content">
        <div id="main">
            <div ng-view></div>
        </div>
    <a href="/auth/facebook"><img src="/Content/images/login-fb.png" width="154" height="22"></a> 
    </section>

    <!-- External Js librairies -->
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="/Scripts/External/jquery.min.js"></script>
    <script src="/Scripts/External/bootstrap.js"></script>
    <script src="/Scripts/External/angular.js"></script>
    <script src="/Scripts/External/angular-animate.min.js"></script>
    <script src="/Scripts/External/angular-route.min.js"></script>
    <script src="/Scripts/External/angular-resource.min.js"></script>
    <script src="/Scripts/External/angular-cookies.min.js"></script>
    <script src="/Scripts/External/toaster.js"></script>
    <script src="/Scripts/External/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="/Scripts/External/lodash.js"></script>
    <script src="/Scripts/External/angularjs-geolocation.min.js"></script>
    <script src="/Scripts/External/angular-google-maps.min.js"></script>
    <script src="/Scripts/External/angular-reverse-geocode.js"></script>
    <!-- End of External Js librairies -->
    <!-- Our Js  -->
    <script src="/Scripts/AdvancedWeb/birdy-module.js"></script>
    <script src="/Scripts/AdvancedWeb/home-controller.js"></script>
    <script src="/Scripts/AdvancedWeb/Profile/profile-controller.js"></script>
    <script src="/Scripts/AdvancedWeb/User/user-repository.js"></script>
    <script src="/Scripts/AdvancedWeb/Members/members-home-controller.js"></script>
    <script src="/Scripts/AdvancedWeb/Members/members-messages-controller.js"></script>
    <script src="/Scripts/AdvancedWeb/Members/members-advert-creation-controller.js"></script>
    <script src="/Scripts/AdvancedWeb/Members/members-repository.js"></script>
    <script src="/Scripts/External/cufon-yui.js" type="text/javascript"></script>
    <script src="/Scripts/External/ChunkFive_400.font.js" type="text/javascript"></script>
    <!-- End of Our Js  -->

    <script type="text/javascript">
        Cufon.replace('h1', { textShadow: '1px 1px #fff' });
        Cufon.replace('h2', { textShadow: '1px 1px #fff' });
        Cufon.replace('h3', { textShadow: '1px 1px #000' });
        Cufon.replace('.back');
    </script>

    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '337083306497571',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

</body>

</html>
