<div class="wrapper">
    
    <h1><img style="vertical-align: text-bottom;" src="/Content/images/blue-googley-eyed-bird-152-183311.png" />Blue Brid's List</h1>
    <h2 style="margin-left: 152px;">My name is <span>oliverqueen@arrow.com</span> and my password is <span>arrow</span></h2>
    <div class="content">
        <div id="form_wrapper" class="form_wrapper">
            <form ng-submit="signup()" class="register">
                <h3>Register</h3>
                <div class="column">
                    <div>
                        <label>Username:</label>
                        <input type="text" ng-model="user.username" />
                        <span class="error">This is an error</span>
                    </div>
                    <div>
                        <label>First Name:</label>
                        <input type="text" ng-model="user.firstName" />
                        <span class="error">This is an error</span>
                    </div>
                    <div>
                        <label>Last Name:</label>
                        <input type="text" ng-model="user.name" />
                        <span class="error">This is an error</span>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label>Email:</label>
                        <input type="text" ng-model="user.email" />
                        <input type="text" ng-model="user.email2" placeholder="@mail de confirmation" required />
                        <span class="error">This is an error</span>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" ng-model="user.password" />
                        <input type="password" name="passwordConfirm" ng-model="user.password2" placeholder="Mot de passe de confirmation" required /> <br />
                        <span class="error">This is an error</span>
                    </div>
                </div>
                <div class="bottom">
                    <div class="remember">
                    </div>
                    <input type="submit" value="Register" />
                    <a href="index.html" rel="login" class="linkform">You have an account already? Log in here</a>
                    <div class="clear"></div>
                </div>
            </form>
            <form ng-submit="login()" class="login active">
                <h3>Login</h3>
                <div>
                    <label>Email:</label>
                    <input type="text" name="email" ng-model="user.email" />
                    <span class="error">This is an error</span>
                </div>
                <div>
                    <label>Password: <a href="forgot_password.html" rel="forgot_password" class="forgot linkform">Forgot your password?</a></label>
                    <input type="password" name="password" ng-model="user.password" />
                    <span class="error">This is an error</span>
                </div>
                <div class="bottom">
                    <div class="remember"><input type="checkbox" name="rememberMe" ng-model="user.rememberMe" /><span>Keep me logged in</span> <br /></div>
                    <input type="submit" value="Login"></input>
                    <a href="register.html" rel="register" class="linkform">You don't have an account yet? Register here</a>
                    <div class="clear"></div>
                </div>
            </form>
            <form class="forgot_password">
                <h3>Forgot Password</h3>
                <div>
                    <label>Username or Email:</label>
                    <input type="text" />
                    <span class="error">This is an error</span>
                </div>
                <div class="bottom">
                    <input type="submit" value="Send reminder"></input>
                    <a href="index.html" rel="login" class="linkform">Suddenly remebered? Log in here</a>
                    <a href="register.html" rel="register" class="linkform">You don't have an account? Register here</a>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
        <script type="text/javascript">
            $(function () {
                //the form wrapper (includes all forms)
                var $form_wrapper = $('#form_wrapper'),
                    //the current form is the one with class active
                    $currentForm = $form_wrapper.children('form.active'),
                    //the change form links
                    $linkform = $form_wrapper.find('.linkform');

                //get width and height of each form and store them for later
                $form_wrapper.children('form').each(function (i) {
                    var $theForm = $(this);
                    //solve the inline display none problem when using fadeIn fadeOut
                    if (!$theForm.hasClass('active'))
                        $theForm.hide();
                    $theForm.data({
                        width: $theForm.width(),
                        height: $theForm.height()
                    });
                });

                //set width and height of wrapper (same of current form)
                setWrapperWidth();

                /*
                clicking a link (change form event) in the form
                makes the current form hide.
                The wrapper animates its width and height to the
                width and height of the new current form.
                After the animation, the new form is shown
                */
                $linkform.bind('click', function (e) {
                    var $link = $(this);
                    var target = $link.attr('rel');
                    $currentForm.fadeOut(400, function () {
                        //remove class active from current form
                        $currentForm.removeClass('active');
                        //new current form
                        $currentForm = $form_wrapper.children('form.' + target);
                        //animate the wrapper
                        $form_wrapper.stop()
                                     .animate({
                                         width: $currentForm.data('width') + 'px',
                                         height: $currentForm.data('height') + 'px'
                                     }, 500, function () {
                                         //new form gets class active
                                         $currentForm.addClass('active');
                                         //show the new form
                                         $currentForm.fadeIn(400);
                                     });
                    });
                    e.preventDefault();
                });

                function setWrapperWidth() {
                    $form_wrapper.css({
                        width: $currentForm.data('width') + 'px',
                        height: $currentForm.data('height') + 'px'
                    });
                }

                /*
                for the demo we disabled the submit buttons
                if you submit the form, you need to check the
                which form was submited, and give the class active
                to the form you want to show
                */

            });
        </script>
    </div>
</div>