<div class="panel panel-primary">
    <div class="panel-body">
        <div class="well">
            <form class="form-horizontal col-xs-6" role="form">
                <div class="form-group">
                    <label class="col-xs-2 control-label">First Name:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" ng-model="userProfile.firstName" ng-readonly="!editing" /><br />
                    </div>
                    <label class="col-xs-2 control-label">Name:</label>
                    <div class="col-xs-10">
                        <input class="form-control" ng-model="userProfile.name" ng-readonly="!editing" /><br />
                    </div>
                    <label class="col-xs-2 control-label">Email:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" ng-model="userProfile.email" readonly /><br />
                    </div>
                    <label class="col-xs-2 control-label">Member Since:</label>
                    <div class="col-xs-10">
                        <input class="form-control" ng-value="userProfile.dateSignup | date : 'dd/MM/yyyy'" readonly /><br />
                    </div>
                    <label class="col-xs-2 control-label">Last Logged in:</label>
                    <div class="col-xs-10">
                        <input class="form-control" ng-value="userProfile.lastLogged | date : 'dd/MM/yyyy HH:mm:ss'" readonly />
                    </div>
                </div>
            </form>
            <div style="clear: both;"></div>
            <div class="col-xs-6">
                <button ng-show="!editing" class="pull-right btn btn-primary" ng-click="edit()"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                <button ng-show="editing" class="pull-right btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-save"></span> Save</button>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>