* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
    font-size: 14px;
    background: #f4f4f4 url(../images/bg.gif) repeat top left;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
    overflow-y: scroll;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 20px;
    padding: 0px 0px 40px 0px;
    color: #aaa;
}

    h2 span {
        color: #ffa800;
    }

a {
    color: #777;
}

    a:hover {
        color: #222;
    }

p {
    padding: 5px 0px;
}

.wrapper {
    width: 960px;
    margin: 20px auto;
    min-height: 550px;
}

.box {
    width: 49%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

a.back {
    color: #777;
    position: fixed;
    top: 5px;
    right: 10px;
    text-decoration: none;
}
/* Form Style */
.form_wrapper {
    background: #fff;
    border: 1px solid #ddd;
    margin: 0 auto;
    width: 350px;
    font-size: 16px;
    -moz-box-shadow: 1px 1px 7px #ccc;
    -webkit-box-shadow: 1px 1px 7px #ccc;
    box-shadow: 1px 1px 7px #ccc;
}

    .form_wrapper h3 {
        padding: 20px 30px 20px 30px;
        background-color: #444;
        color: #fff;
        font-size: 25px;
        border-bottom: 1px solid #ddd;
    }

    .form_wrapper form {
        display: none;
        background: #fff;
    }

    .form_wrapper .column {
        width: 47%;
        float: left;
    }

form.active {
    display: block;
}

form.login {
    width: 350px;
}

form.register {
    width: 550px;
}

form.forgot_password {
    width: 300px;
}

.form_wrapper a {
    text-decoration: none;
    color: #777;
    font-size: 12px;
}

    .form_wrapper a:hover {
        color: #000;
    }

.form_wrapper label {
    display: block;
    padding: 10px 30px 0px 30px;
    margin: 10px 0px 0px 0px;
}

.form_wrapper input[type="text"],
.form_wrapper input[type="password"] {
    border: solid 1px #E5E5E5;
    background: #FFFFFF;
    margin: 5px 30px 0px 30px;
    padding: 9px;
    display: block;
    font-size: 16px;
    width: 76%;
    background: -webkit-gradient( linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF) );
    background: -moz-linear-gradient( top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px );
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;
    box-shadow: 0px 0px 8px #f0f0f0;
}

    .form_wrapper input[type="text"]:focus,
    .form_wrapper input[type="password"]:focus {
        background: #feffef;
    }

.form_wrapper .bottom {
    background-color: #444;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    clear: both;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

    .form_wrapper .bottom a {
        display: block;
        clear: both;
        padding: 10px 30px;
        text-align: right;
        color: #ffa800;
        text-shadow: 1px 1px 1px #000;
    }

.form_wrapper a.forgot {
    float: right;
    font-style: italic;
    line-height: 24px;
    color: #ffa800;
    text-shadow: 1px 1px 1px #fff;
}

    .form_wrapper a.forgot:hover {
        color: #000;
    }

.form_wrapper div.remember {
    float: left;
    width: 140px;
    margin: 20px 0px 20px 30px;
    font-size: 11px;
}

    .form_wrapper div.remember input {
        float: left;
        margin: 2px 5px 0px 0px;
    }

.form_wrapper span.error {
    visibility: hidden;
    color: red;
    font-size: 11px;
    font-style: italic;
    display: block;
    margin: 4px 30px;
}

.form_wrapper input[type="submit"] {
    background: #e3e3e3;
    border: 1px solid #ccc;
    color: #333;
    font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 9px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    float: right;
    margin: 15px 20px 10px 10px;
    text-shadow: 0px 1px 0px #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 2px #fff inset;
    -webkit-box-shadow: 0px 0px 2px #fff inset;
    box-shadow: 0px 0px 2px #fff inset;
}

    .form_wrapper input[type="submit"]:hover {
        background: #d9d9d9;
        -moz-box-shadow: 0px 0px 2px #eaeaea inset;
        -webkit-box-shadow: 0px 0px 2px #eaeaea inset;
        box-shadow: 0px 0px 2px #eaeaea inset;
        color: #222;
    }

.content {
    padding: 10px 60px;
}

navbar-nav > .user-menu > .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 100px;
}

.user-menu > .dropdown-menu a {
    text-decoration: none;
}

.navbar-nav > .user-menu > .dropdown-menu:after {
    bottom: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 175px;
    padding: 10px;
    background: #3c8dbc;
    text-align: center;
}

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
        z-index: 5;
        height: 90px;
        width: 90px;
        border: 8px solid;
        border-color: transparent;
        border-color: rgba(255, 255, 255, 0.2);
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
        z-index: 5;
        color: #f9f9f9;
        color: rgba(255, 255, 255, 0.8);
        font-size: 17px;
        text-shadow: 2px 2px 3px #333333;
        margin-top: 10px;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
            display: block;
            font-size: 12px;
        }

.navbar-nav > .user-menu > .dropdown-menu > li.user-body {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
}

    .navbar-nav > .user-menu > .dropdown-menu > li.user-body:before,
    .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
        display: table;
        content: " ";
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
        clear: both;
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-body > div > a {
        color: #0073b7;
    }

.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}

    .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before,
    .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
        display: table;
        content: " ";
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
        clear: both;
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
        color: #666666;
    }

/* Add fade animation to dropdown menus */

.open > .dropdown-menu {
    animation-name: fadeAnimation;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadeAnimation;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fadeAnimation;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

@keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }

    to {
        opacity: 1;
        top: 100%;
    }
}

@-webkit-keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }

    to {
        opacity: 1;
        top: 100%;
    }
}

/* Fix dropdown menu for small screens to display correctly on small screens */

@media screen and (max-width: 767px) {
    .navbar-nav > .notifications-menu > .dropdown-menu,
    .navbar-nav > .user-menu > .dropdown-menu,
    .navbar-nav > .tasks-menu > .dropdown-menu,
    .navbar-nav > .messages-menu > .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        background: #ffffff;
    }
}

/* Fix menu positions on xs screens to appear correctly and fully */

@media screen and (max-width: 480px) {
    .navbar-nav > .notifications-menu > .dropdown-menu > li.header,
    .navbar-nav > .tasks-menu > .dropdown-menu > li.header,
    .navbar-nav > .messages-menu > .dropdown-menu > li.header { /* Remove arrow from the top */
    }

        .navbar-nav > .notifications-menu > .dropdown-menu > li.header:after,
        .navbar-nav > .tasks-menu > .dropdown-menu > li.header:after,
        .navbar-nav > .messages-menu > .dropdown-menu > li.header:after {
            border-width: 0 !important;
        }

    .navbar-nav > .tasks-menu > .dropdown-menu {
        position: absolute;
        right: -120px;
        left: auto;
    }

    .navbar-nav > .notifications-menu > .dropdown-menu {
        position: absolute;
        right: -170px;
        left: auto;
    }

    .navbar-nav > .messages-menu > .dropdown-menu {
        position: absolute;
        right: -210px;
        left: auto;
    }
}


.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
    padding: 0 0 0 0 !important;
    margin: 0 !important;
    top: 100%;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

    .navbar-nav > .notifications-menu > .dropdown-menu > li.header,
    .navbar-nav > .messages-menu > .dropdown-menu > li.header,
    .navbar-nav > .tasks-menu > .dropdown-menu > li.header {
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #ffffff;
        padding: 7px 10px;
        border-bottom: 1px solid #f4f4f4;
        color: #444444;
        font-size: 14px;
    }

        .navbar-nav > .notifications-menu > .dropdown-menu > li.header:after,
        .navbar-nav > .messages-menu > .dropdown-menu > li.header:after,
        .navbar-nav > .tasks-menu > .dropdown-menu > li.header:after {
            bottom: 100%;
            left: 92%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 7px;
            margin-left: -7px;
        }

    .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
    .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
    .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright: 0px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 12px;
        background-color: #f4f4f4;
        padding: 7px 10px;
        border-bottom: 1px solid #eeeeee;
        color: #444444;
        text-align: center;
    }

        .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
        .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
        .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
            background: #f4f4f4;
            text-decoration: none;
            font-weight: normal;
        }

    .navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
    .navbar-nav > .messages-menu > .dropdown-menu > li .menu,
    .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow-x: hidden;
    }

        .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
        .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
        .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
            display: block;
            white-space: nowrap;
            /* Prevent text from breaking */
            border-bottom: 1px solid #f4f4f4;
        }

            .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
            .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
                background: #f6f6f6;
                text-decoration: none;
            }

        .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
            font-size: 12px;
            color: #444444;
        }

            .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
            .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
            .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
                font-size: 20px;
                width: 50px;
                text-align: center;
                padding: 15px 0px;
                margin-right: 5px;
                /* Default background and font colors */
                background: #00c0ef;
                color: #f9f9f9;
                /* Fallback for browsers that doesn't support rgba */
                color: rgba(255, 255, 255, 0.7);
            }

                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.danger,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.danger,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.danger {
                    background: #f56954;
                }

                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.warning,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.warning,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.warning {
                    background: #f39c12;
                }

                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.success,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.success,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.success {
                    background: #00a65a;
                }

                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.info,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.info,
                .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.info {
                    background: #00c0ef;
                }

        .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
            margin: 0;
            line-height: 20px;
            padding: 10px 5px 10px 5px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
                margin: auto 10px auto auto;
                width: 40px;
                height: 40px;
                border: 1px solid #dddddd;
            }

            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
                padding: 0;
                color: #444444;
                font-size: 15px;
            }

                .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
                    color: #999999;
                    font-size: 10px;
                    float: right;
                }

            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
                font-size: 12px;
                color: #888888;
            }

            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
                display: table;
                content: " ";
            }

            .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
                clear: both;
            }

        .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
            padding: 10px;
        }

            .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
                font-size: 14px;
                padding: 0;
                margin: 0 0 10px 0;
                color: #666666;
            }

            .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
                padding: 0;
                margin: 0;
            }

.navbar-nav > .user-menu > .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
}

    .navbar-nav > .user-menu > .dropdown-menu:after {
        bottom: 100%;
        right: 10px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
        height: 175px;
        padding: 10px;
        background: #3c8dbc;
        text-align: center;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
            z-index: 5;
            height: 90px;
            width: 90px;
            border: 8px solid;
            border-color: transparent;
            border-color: rgba(255, 255, 255, 0.2);
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
            z-index: 5;
            color: #f9f9f9;
            color: rgba(255, 255, 255, 0.8);
            font-size: 17px;
            text-shadow: 2px 2px 3px #333333;
            margin-top: 10px;
        }

            .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
                display: block;
                font-size: 12px;
            }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-body {
        padding: 15px;
        border-bottom: 1px solid #f4f4f4;
        border-top: 1px solid #dddddd;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:before,
        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
            display: table;
            content: " ";
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
            clear: both;
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body > div > a {
            color: #0073b7;
        }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
        background-color: #f9f9f9;
        padding: 10px;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before,
        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
            display: table;
            content: " ";
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
            clear: both;
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
            color: #666666;
        }
/* Add fade animation to dropdown menus */
.open:not(.dropup) > .dropdown-menu {
    animation-name: fadeAnimation;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadeAnimation;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fadeAnimation;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

@keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }

    to {
        opacity: 1;
        top: 100%;
    }
}

@-webkit-keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }

    to {
        opacity: 1;
        top: 100%;
    }
}
/* Fix dropdown menu for small screens to display correctly on small screens */
@media screen and (max-width: 767px) {
    .navbar-nav > .notifications-menu > .dropdown-menu,
    .navbar-nav > .user-menu > .dropdown-menu,
    .navbar-nav > .tasks-menu > .dropdown-menu,
    .navbar-nav > .messages-menu > .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        background: #ffffff;
    }
}
/* Fix menu positions on xs screens to appear correctly and fully */
@media screen and (max-width: 480px) {
    .navbar-nav > .notifications-menu > .dropdown-menu > li.header,
    .navbar-nav > .tasks-menu > .dropdown-menu > li.header,
    .navbar-nav > .messages-menu > .dropdown-menu > li.header {
        /* Remove arrow from the top */
    }

        .navbar-nav > .notifications-menu > .dropdown-menu > li.header:after,
        .navbar-nav > .tasks-menu > .dropdown-menu > li.header:after,
        .navbar-nav > .messages-menu > .dropdown-menu > li.header:after {
            border-width: 0px !important;
        }

    .navbar-nav > .tasks-menu > .dropdown-menu {
        position: absolute;
        right: -120px;
        left: auto;
    }

    .navbar-nav > .notifications-menu > .dropdown-menu {
        position: absolute;
        right: -170px;
        left: auto;
    }

    .navbar-nav > .messages-menu > .dropdown-menu {
        position: absolute;
        right: -210px;
        left: auto;
    }
}

.label-success {
    background-color: #5CB85C;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    font-family: "Source Sans Pro",sans-serif;
    right: 2px;
    font-size: 10px;
    font-weight: normal;
    width: 15px;
    height: 15px;
    line-height: 1em;
    text-align: center;
    padding: 2px;
}

.angular-google-map-container {
    height: 400px;
}

#map-canvas {
    height: 400px;
}

.help-box-margin {
    margin-top: -10px;
}

.modal-header-adv {
    background-color: #3C8DBC;
    color: white;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
